# Trivia

In [10]:
import sqlite3

# Database Setup

In [11]:
def createTable():
    mydb = sqlite3.connect("TriviaGame.db")
    mycursor = mydb.cursor()
    mycursor.execute("CREATE TABLE TriviaGame (id INTEGER PRIMARY KEY, Questions VARCHAR(255), Answers VARCHAR(255), Categories Varchar(255))")
    mydb.close()

In [ ]:
def fillTable():
    mydb = sqlite3.connect("TriviaGame.db")
    mycursor = mydb.cursor()
    sql = "INSERT INTO TriviaGame (Questions, Answers, Categories) VALUES (?, ?, ?)"
    val = [
    ('What is the evolution of Darumaka?', 'Darmanitan', 'pokemon'),
    ('Is there a Totem Ribombee?', 'Yes', 'pokemon'),
    ('What is the de-evolution of Ribombee?', 'Cutiefly', 'pokemon'),
    ('Name 1 fire legendary pokemon that has an "e" in it.', 'Moltres, Heatran, Entei', 'pokemon'),
    ('What is the fourth pokemon ever created in the history of pokemon?', 'Charmander', 'pokemon'),
    ('In cards,is Mega Charizard X or Mega Charizard Y better?', 'Mega Charizard X', 'pokemon'),
    ('What is Mega Gengar''s best Mega move?', 'Phantom Gate', 'pokemon'),
    ('Name one color of Noivern.', 'Purple,Red,Black,Gray,Green,White,Yellow,Grey', 'pokemon'),
    ('Is Darkrai a mythical or a legendary to this time?', 'Yes', 'pokemon'),
    ('How many evolutions does Poliwag have(including stage 2 pokemon)', '3,3 evolutions', 'pokemon'),
    ('In soccer, when does a player get a red card?', 'After he fouls twice,After she fouls twice', 'sports'),
    ('Can a goalie score in a real soccer game?', 'Yes', 'sports'),
    ('In basketball,when does a player get a technical foul?', 'When he does not follow the rules of the game', 'sports'),
    ('In basketball,what is it called when a player kicks the ball?', 'Kick ball', 'sports'),
    ('What is it called when a player counts to 10 Mississippi, what is it called when they stop the QB?', 'sack', 'sports'),
    ('What does a QB say when he wants all the players to go to touchdown?', 'holla mary, hollamary, holamary', 'sports'),
    ('In badminton,if the bird goes in the box of the sidelines when it''s a 2v2, is the bird in or out?', 'In, in, IN', 'sports'),
    ('In badminton,if you swing your racket over your head,and hit the bird all the way to the other side of the court ,what is it called?', 'A clear,clear,Clear,a clear', 'sports'),
    ('In baseball,where does a shortstop stand?', 'between 2nd and 3rd base,between second and third base', 'sports'),
    ('In baseball,how many people are on the field (only including fielders)', 'nine people,9 people ', 'sports'),
    ('There is an iscoceles,an equilateral and a _______.', 'scalene', 'math'),
    ('How many types of triangles are there?', 'three,3', 'math'),
    ('An iscoceles has ___ equal sides.', '2,two', 'math'),
    ('What is six factorial?', '720,seven hundred twenty,Seven hundred twenty', 'math'),
    ('', '', 'math'),
    ('', '', 'math'),
    ('', '', 'math'),
    ('', '', 'math'),
    ('', '', 'math'),    
    ('', '', 'math'),
    ]
    mycursor.executemany(sql, val)
    print(mycursor.rowcount)        # check how many rows entered
    mydb.commit()
    mydb.close()

In [13]:
def viewTable():
    mydb = sqlite3.connect("TriviaGame.db")
    mycursor = mydb.cursor()
    sql = "SELECT * FROM TriviaGame"
    mycursor.execute(sql)
    tableData = mycursor.fetchall()
    for x in tableData:
      print(x)
    mydb.commit()
    mydb.close()

In [14]:
def deleteTable():
    mydb = sqlite3.connect("TriviaGame.db")
    mycursor = mydb.cursor()
    sql = "DROP TABLE IF EXISTS TriviaGame"
    mycursor.execute(sql)
    mydb.close()

In [16]:
deleteTable()
createTable()
fillTable()
viewTable()

30
(1, 'cereal', 'breakfast', 'pokemon')
(2, 'chalupa', 'Mexican food', 'pokemon')
(3, 'pasta', 'lunch', 'pokemon')
(4, 'oreo', 'snack food', 'pokemon')
(5, 'cookie', 'dessert', 'pokemon')
(6, 'cereal', 'breakfast', 'pokemon')
(7, 'chalupa', 'Mexican food', 'pokemon')
(8, 'pasta', 'lunch', 'pokemon')
(9, 'oreo', 'snack food', 'pokemon')
(10, 'cookie', 'dessert', 'pokemon')
(11, 'cereal', 'breakfast', 'sports')
(12, 'chalupa', 'Mexican food', 'sports')
(13, 'pasta', 'lunch', 'sports')
(14, 'oreo', 'snack food', 'sports')
(15, 'cookie', 'dessert', 'sports')
(16, 'cereal', 'breakfast', 'sports')
(17, 'chalupa', 'Mexican food', 'sports')
(18, 'pasta', 'lunch', 'sports')
(19, 'oreo', 'snack food', 'sports')
(20, 'cookie', 'dessert', 'sports')
(21, 'cereal', 'breakfast', 'math')
(22, 'chalupa', 'Mexican food', 'math')
(23, 'pasta', 'lunch', 'math')
(24, 'oreo', 'snack food', 'math')
(25, 'cookie', 'dessert', 'math')
(26, 'cereal', 'breakfast', 'math')
(27, 'chalupa', 'Mexican food', 'math')
(28, 'pasta', 'lunch', 'math')
(29, 'oreo', 'snack food', 'math')
(30, 'cookie', 'dessert', 'math')