# Trivia

In [10]:
import sqlite3

# Database Setup

In [11]:
def createTable():
    mydb = sqlite3.connect("TriviaGame.db")
    mycursor = mydb.cursor()
    mycursor.execute("CREATE TABLE TriviaGame (id INTEGER PRIMARY KEY, Questions VARCHAR(255), Answers VARCHAR(255), Categories Varchar(255))")
    mydb.close()

In [12]:
def fillTable():
    mydb = sqlite3.connect("TriviaGame.db")
    mycursor = mydb.cursor()
    sql = "INSERT INTO TriviaGame (Questions, Answers, Categories) VALUES (?, ?, ?)"
    val = [
    ('cereal', 'breakfast', 'pokemon'),
    ('chalupa', 'Mexican food', 'pokemon'),
    ('pasta', 'lunch', 'pokemon'),
    ('oreo', 'snack food', 'pokemon'),
    ('cookie', 'dessert', 'pokemon'),
    ('cereal', 'breakfast', 'pokemon'),
    ('chalupa', 'Mexican food', 'pokemon'),
    ('pasta', 'lunch', 'pokemon'),
    ('oreo', 'snack food', 'pokemon'),
    ('cookie', 'dessert', 'pokemon'),
    ('cereal', 'breakfast', 'sports'),
    ('chalupa', 'Mexican food', 'sports'),
    ('pasta', 'lunch', 'sports'),
    ('oreo', 'snack food', 'sports'),
    ('cookie', 'dessert', 'sports'),
    ('cereal', 'breakfast', 'sports'),
    ('chalupa', 'Mexican food', 'sports'),
    ('pasta', 'lunch', 'sports'),
    ('oreo', 'snack food', 'sports'),
    ('cookie', 'dessert', 'sports'),
    ('cereal', 'breakfast', 'math'),
    ('chalupa', 'Mexican food', 'math'),
    ('pasta', 'lunch', 'math'),
    ('oreo', 'snack food', 'math'),
    ('cookie', 'dessert', 'math'),
    ('cereal', 'breakfast', 'math'),
    ('chalupa', 'Mexican food', 'math'),
    ('pasta', 'lunch', 'math'),
    ('oreo', 'snack food', 'math'),
    ('cookie', 'dessert', 'math'),
    ]
    mycursor.executemany(sql, val)
    print(mycursor.rowcount)        # check how many rows entered
    mydb.commit()
    mydb.close()

In [13]:
def viewTable():
    mydb = sqlite3.connect("TriviaGame.db")
    mycursor = mydb.cursor()
    sql = "SELECT * FROM TriviaGame"
    mycursor.execute(sql)
    tableData = mycursor.fetchall()
    for x in tableData:
      print(x)
    mydb.commit()
    mydb.close()

In [14]:
def deleteTable():
    mydb = sqlite3.connect("TriviaGame.db")
    mycursor = mydb.cursor()
    sql = "DROP TABLE IF EXISTS TriviaGame"
    mycursor.execute(sql)
    mydb.close()

In [ ]:
deleteTable()s